* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-day.jpg);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 35px;
    width: 500px;
    margin-top: 30px;
    border-radius: 7px;
    border: 0;
    background: white;
    padding: 0 20px;
}

input:focus {
    outline: 0;
}

h4 {
    font-weight: 100;
}

h1 {
    padding-left: 20px;
    margin: 0;
    font-weight: 400;
}

h4 {
    font-size: 3rem;
}

sup,
small {
    font-size: 2rem;
}

time {
    font-size: 1.5rem;
    opacity: 0.65;
}

#simple,
#detailed,
#detailed2 {
    backdrop-filter: blur(65px);
    border-radius: 10px;
    border: 1px solid white;
}

#simple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 150px;
}

#simple > * {
    margin: 0;
}

#degreeContainer,
#conditionContainer,
#changeDegrees {
    display: flex;
    align-items: center;
}

#conditionContainer > * {
    padding: 15px 10px;
}

#condition {
    font-size: 1.75rem;
    margin: 0;
}

#changeDegrees {
    justify-content: center;
}

#changeDegrees > * {
    margin: 30px;
    font-size: 5rem;
    cursor: pointer;
}

#celsius {
    color: cyan;
}

#fahrenheit {
    color: crimson;
}

#detailed,
#detailed2 {
    height: 500px;
    width: 300px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    grid-template-rows: repeat(4, 1fr);
}

#detailed {
    left: 75px;
}

#detailed2 {
    right: 75px;
}

#detailed > *,
#detailed2 > * {
    display: flex;
}

#detailed > div > p,
#detailed2 > div > p {
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
}

#detailed2 > div > i {
    padding: 0 10px;
    margin: 5px 0;
    color: black;
}
